.hero {
    &__subject {
        letter-spacing: 0.5rem;
        font-size: 5rem;
        text-transform: uppercase;
    }

    &__name {
        font-size: 5rem;
        font-weight: 300;
    }
}

.row {
    display: flex;
    font-size: 5rem;
    font-weight: 700;
}